@charset "UTF-8";
/* CSS Document */
body {
	font-family:"微軟正黑體","蘋果儷中黑",Arial;
	word-break: normal;
	text-align:justify;
	background: #e6e6e6;
	}
/*---紅利館Top title 整體顏色---*/
.Overall_color{ background: #EE8072; }
.top_title_logo{ color: #fff; }

/*-----共用-----*/
.row{ background: #fff; }

/*.Border{ border: 1px solid #ccc; }*/

.Border_b{ border-bottom: 1px solid #898989; }

/*-----紅利商品兌換區-----*/
.top_title{	color: #fff; font-size: 16px; line-height: 40px; font-weight: bold; } /*20170715移除padding:10px 0 8px 0; 新增line-height:40px;*/

.price_style{
	color: #f78c00;
	font-size: 20px;
    font-weight: bold;
}
