@charset "UTF-8";
/* CSS Document */
body {
	font-family:"微軟正黑體","蘋果儷中黑",Arial;
	word-break: normal;
	text-align:justify; 
	}
	
img{ width: 100%; height: auto; }

/*-----搜尋頁面設定START-----*/

.search_button{
	width:18%;
}

.bonus_search_wrap{
	max-width: 800px;
}

.bonus_search_img{
	max-width: 768px;
}

.link_categories_wrap ul li{
	display: inline-block;
	margin: 5px;
}

.link_categories_wrap ul li a{
	width: 100%;
	height: 35px;
	line-height: 35px;
}

.bootstrap-tagsinput{
	width: 80%;
	/*height: 60px;*/
	/*white-space: nowrap;*/
	overflow: hidden;
}

.m_b_15pa{
	margin-bottom: 15%;
}

/*-----搜尋頁面設定END-----*/